@model DigitalLearningExamingSystem.Models.Exampaper
@{
    ViewBag.Title = "ShowExamPaper";
}

<h2>@Model.ExampapaerName</h2>
<hr>

<h5>出卷老師：@Model.TeacherId</h5>
<h5>科目：@Model.Subject</h5>
<h5>題數：
    @{
        string qids = Model.QuestionIds;
        string[] qidsArr = qids.Split(',');
        @qidsArr.Length;
    }
    題
</h5>
<hr>
@{ 
    int count = 1;

    foreach (var ques in ViewBag.examPaperList)
    {
        <h4>(　　)　@count.　@ques.Question<br/>　　　　　 (1)@ques.Choice1 (2)@ques.Choice2 (3)@ques.Choice3 (4)@ques.Choice4 </h4>
        count++;
    }
}