
@{
    ViewBag.Title = "ChangeUsersRole";
}

<h2>變更使用者權限</h2>
<p>
    您可以指派某位使用者為老師或學生身分。
</p>
<hr>
<form action="/Account/ChangeRole" method="post">
    <div class="form-horizontal">

        <div class="form-group">
                <label class="control-label col-md-2">電子郵件</label>
                <div class="col-md-10">
                    @Html.DropDownList("userEmail", null, "請選擇", new { @class = "form-control" })
                </div>
                <label class="control-label col-md-2">使用者身分</label>
                <div class="col-md-10">

                    <select class="form-control" name="roles">
                        <option value="Teacher">老師</option>
                        <option value="Student" selected="selected">學生</option>
                        <option value="Admin">管理員</option>
                    </select>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="變更" class="btn btn-primary" />
                    </div>
                </div>



        </div>
    </div>

</form>

